<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Timetabler</title>
    <meta charset="utf-8" />
    {% load staticfiles %}
    <link rel="stylesheet" type='text/css' href ="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/home_page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body class="body">

    <div class="container" id="entryButton">
         <a href="/entry" class="btn btn-success btn-lg">Wprowadź dane</a>
    </div>

    <div class="container" id="viewButton">
         <a href="/view" class="btn btn-success btn-lg">Wyświetl dane</a>
    </div>

    <div class="container" id="generateButton">
         <a href="/timetable" class="btn btn-success btn-lg">Uzupełnij plan</a>
    </div>

</body>

</html>
