<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Timetable</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/timetable_page.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/addClassesModal.js"></script>
</head>

<body class="body">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Rozpocznij planowanie</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">Start</a>
                    </li>
                    <li>
                        <a href="#services">Usługi</a>
                    </li>
                    <li>
                        <a href="#contact">Kontakt</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<!--
    <div class="left teachers droppable draggable">
        <table style="background-color: #f6f6f6">
            <tr>
                <th>Nauczyciele</th>
            </tr>
                {% for teacher in teachers %}
            <tr>
                <td>
                    <div class="item" style="">{{ teacher.name }} {{ teacher.surname }}</div>
                </td>
            </tr>
                {% endfor %}
        </table>
    </div>

    <div class="left subjects droppable draggable">
        <table style="background-color: #f6f6f6">
            <tr>
                <th>Przedmioty</th>
            </tr>            
                {% for teacher in teachers %}
            <tr>
                <td>
                    <div class="item" style="">{{ teacher.subject }}</div>
                </td>
            </tr>
                {% endfor %}  
        </table>
    </div>

    <div class="left rooms droppable draggable">
        <table style="background-color: #f6f6f6">
            <tr>            
                <th>Sala</th>
            </tr>
                {% for classroom in classrooms %}
            <tr>            
                <td>
                    <div class="item" style="">{{ classroom.name }}</div>
                </td>
            </tr>
                {% endfor %}
        </table>
    </div>-->

    <div class="timetable">
        <table  style="background-color:#f6f6f6">
            <tr>
                <th colspan="1">Poniedziałek</th>
                                 <!-- ilosc klas powinna tu byc -->
            </tr>
            <tr>
                <td class="blank"></td>{% for class in classes %}
                <td class="title" colspan="1">{{ class.name }}</td>{% endfor %}
            </tr>
            {% for class_counter in classes_counter %}
            <tr>
                <td class="class_counter">{{ class_counter }}</td>
                {% for class in classes %}
                <td style="min-width: 100px; height: 60px;" class="classes"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>

  <button type="button" class="btn btn-info btn-md" id="add_classes_button" onclick="backdropTrue()">Dodaj zajęcia</button>
    <div id="add_classes_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dodaj zajęcia</h4>
                </div>
                <div class="modal-body">
                    <p>Wybierz godzine lekcyjną.</p>
                    <p>Wybierz klasę.</p>
                    <p>Wybierz salę.</p>
                    <p>Wybierz wybierz nauczyciela.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Zamknij</button>
                    <button type="button" class="btn btn-success">Zapisz zmiany</button>
                </div>
            </div>
        </div>
    </div>

<!--   
    <!--ILOSC POZOSTALYCH GODZIN DO WYPEŁNIENIA
    <div class="legend">   
        <table style="background-color:#f6f6f6">
	<th colspan="100">Ilość godzin do wypełnienia</th>        
	<tr>
	    {% for teacher in teachers %}
            <td><div class="hourcounters">{{ teacher.subject }} -> {{ teacher.subject.hours_per_week }}h</div></td>
	    {% endfor %}
        </tr>
        </table>
    </div>
-->

</body>

</html>
