body {
    background-color: #DCDCDC;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 10px;
}

.teachers {
    position: absolute;
    left: 40px;
    top: 150px;
}

.rooms {
    position: absolute;
    left: 40px;
    top: 70px;
}

.timetable{
    position: absolute;
    left: 450px;
    top: 150px;
}

.legend {
    position: absolute;
    left: 40px;
    top: 520px;
}
